body{
	opacity:80%;
}
H2{
               colour:#CE822C;
               border-bottom:1px dashed #CE822C;
          }
body{
               background-image: url('https://www.google.com/search?q=classic+car+wallpaper&oq=class&gs_lcrp=EgZjaHJvbWUqCwgBEEUYJxg7GIoFMgYIABBFGDkyCwgBEEUYJxg7GIoFMg0IAhAAGIMBGLEDGIAEMg0IAxAAGIMBGLEDGIAEMhMIBBAuGIMBGMcBGLEDGNEDGIAEMg0IBRAAGIMBGLEDGIAEMg0IBhAAGIMBGLEDGIAEMgcIBxAAGIAEMg0ICBAAGIMBGLEDGIoFMg0ICRAAGIMBGLEDGIAE0gEJNDcyOWowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8#vhid=24wd1nVvUAjiPM&vssid=l');colour:white;margin:50px;border:dashed 3px white;padding:20px;background-attachment: fixed;opacity:70%;"
          }
#p_id{
               background:#AD132A;
          }
gurusclass{
               font-style:oblique;}